* {
    margin: 0;
    overflow: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
    background: linear-gradient(to right, rgba(59, 85, 191, 255), rgba(64, 234, 241, 255));
    height: 100vh;
  }
  
  
  
  .container {
    display: flex;
    height: 50vh;
    max-width: 90%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -67%);
    border-radius: 10px;
    box-shadow: 0 0 15px 2px rgba(59,85,191,255);

  }
  
  .left {
    flex-basis: 50%;
    position: relative;
    height: 100%;
    line-height: 0;
  }
  
  .right {
    box-sizing: border-box;
  }
  
.two{
  background-color: white;
}

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 99% 50%;
  }
  
  .bst {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100px;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
  }
  
  
  .shadow {
    filter: drop-shadow( 5px 5px 4px rgba(0, 0, 0, .7));
  }

  .right{
    width: 100%;
  }

.one,
.two,
.three{
  padding: 25px 50px;
}

.one{
  height: 100px;
}

.one,
.three{
  background-color: #f9fafb;
}

.two{
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
  position: relative;
}

p{
  font-size: 20px;
}

h1{
  font-size: 40px;
  
}

.form{
  display: flex;
  gap: 50px;
}

ol{
  padding: 0px 0px;
}

li{
  margin-top: 25px;
}

label{
  font-size: 12px;
  font-weight: bold;
  color: rgb(78, 78, 78);
  letter-spacing: 1.4px;
}

input{
  border-style: solid;
  outline: none;
  height: 25px;
  width: 225px;
  border-radius: 4px;
  border-color: #E5E7EB;
}

input:invalid{
  border-color: red;
}

input:focus {
  border-color: rgb(53, 144, 201);
}

button {
  border: none;
  background: linear-gradient(to right, rgba(59, 85, 191, 255), rgba(64, 234, 241, 255));
  color: white;
  border-radius: 5px;
  padding: 15px 40px;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
  background-size: 200% 100%;
  background-position: left;
  transition: background-position 0.5s, transform 0.5s;
}

button:hover {
  background-position: right;
}

button:active {
  transform: translateY(3px);
  transition-duration: 0s;
}

a{
  color: rgba(59,85,191,255);
  font-weight: bold;
  text-decoration: none;
}



.error{
  border-color: red;
}


.error-msg {
  color: red;
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;

}

.three{
  height: 15vh;
}
